body {
	font-family: Futura,Trebuchet MS,Arial,sans-serif; 
}


h1 {
	color: blue;
	text-align: center;
}

.center{
	background-color: white;
	width: 60%;
	margin: auto;
}

.debug {
	color: red;
	text-align: center;
	text-transform: uppercase;
}

#map_usa{
	display: block;
	margin: auto;
	width: 100%;
	height: auto;
}